@page "/l9-samplepage"

<h3>Example of Render fragment</h3>

<L9_ChildComponent>
    <EmptyTemplate>
        <span style="color: red">There are no students</span>
    </EmptyTemplate>
</L9_ChildComponent>

@code {

}
